<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">

        path.link {
            fill: #ccc;
            stroke: #333;
            stroke-width: 1.5px;
        }

        circle {
            fill: #ccc;
            stroke: #333;
            stroke-width: 1.5px;
        }

        text {
            font: 10px sans-serif;
            pointer-events: none;
        }

        text.shadow {
            stroke: #fff;
            stroke-width: 3px;
            stroke-opacity: .8;
        }

        body {
            background-color: white;
            margin: 0;
        }

        .graphContainer {
            text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        }


    </style>
</head>
<body>

<form id="query-form" action="" method="get">
    <label for="query">Recherche :</label>
    <input id="query" type="text" name="q">
    <input type="submit" value="Let's Go!">
</form>


<div class="graphContainer"></div>


<!--#####################-->
<!--       SCRIPTS       -->
<!--#####################-->

<script>
    class DataManager {

        constructor() {
            this._selectedSite = null;
            this._sites = [];
            this._matrix = null;
        }

        get matrix() {
            return this._matrix;
        }

        set matrix(value) {
            this._matrix = value;
        }

        get sites() {
            return this._sites;
        }

        set sites(value) {
            this._sites = value;
            this.selectedSite = value[0];
        }

        get selectedSite() {
            return this._selectedSite;
        }

        set selectedSite(site) {
            this._selectedSite = site;
            updateGraph(site.graph);
        }
    }

    const dataManager = new DataManager();
</script>
<script>
    const form = document.getElementById('query-form');
    const queryInput = document.getElementById('query');
    form.addEventListener('submit', event => {
        event.preventDefault();

        if (!queryInput.value) {
            alert('Vous devez rentrer une recherche');
        }

        fetch(`/search?q=${encodeURIComponent(queryInput.value)}`)
            .then(res => res.json())
            .then(data => {
                dataManager.sites = data.sites;
                dataManager.matrix = data.matrix;
            })
            .catch(err => {
                console.log('Error :', err);
                alert(`Erreur lors du fetch : ${err.message}`);
            });
    }, false);
</script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    const WIDTH = 960;
    const HEIGHT = 500;

    function updateGraph(data) {
        const color = d3.scale.category20();

        // used to store the number of links between two nodes.
        // mLinkNum[data.links[i].source + "," + data.links[i].target] = data.links[i].linkindex;
        const mLinkNum = {};

        // sort links first
        sortLinks();

        // set up linkIndex and linkNumer, because it may possible multiple links share the same source and target node
        setLinkIndexAndNum();

        const force = d3.layout.force()
            .nodes(d3.values(data.nodes))
            .links(data.links)
            .size([WIDTH, HEIGHT])
            .linkDistance(200)
            .charge(-1000)
            .on('tick', tick)
            .start();


        const svg = d3.select('.graphContainer').append('svg:svg')
            .attr('width', WIDTH)
            .attr('height', HEIGHT);

        svg.append('svg:defs').selectAll('marker')
            .data(['end'])      // Different link/path types can be defined here
            .enter().append('svg:marker')    // This section adds in the arrows
            .attr('id', String)
            .attr('viewBox', '0 -5 10 10')
            .attr('refX', 15)
            .attr('refY', 0.5)
            .attr('markerWidth', 2)
            .attr('markerHeight', 2)
            .attr('orient', 'auto')
            .append('svg:path')
            .attr('d', 'M0,-5L10,0L0,5');

        const path = svg.append('svg:g').selectAll('line')
            .data(force.links())
            .enter().append('svg:path')
            .attr('class', 'link')
            .style('stroke-width', d => Math.sqrt(d.value))
            .style('stroke', d => color(d.value))
            .attr('marker-end', 'url(#end)');


        const circle = svg.append('svg:g').selectAll('circle')
            .data(force.nodes())
            .enter().append('svg:circle')
            .attr('r', d => d.citation)
            .style('fill', d => color(d.group))
            .call(force.drag);

        const text = svg.append('svg:g').selectAll('g')
            .data(force.nodes())
            .enter().append('svg:g');

        // A copy of the text with a thick white stroke for legibility.
        text.append('svg:text')
            .attr('x', 8)
            .attr('y', '.31em')
            .attr('class', 'shadow')
            .text(d => d.name);

        text.append('svg:text')
            .attr('x', 8)
            .attr('y', '.31em')
            .text(d => d.name);

        // Use elliptical arc path segments to doubly-encode directionality.
        function tick() {
            path.attr("d", function (d) {
                const dx = d.target.x - d.source.x;
                const dy = d.target.y - d.source.y;
                let dr = Math.sqrt(dx * dx + dy * dy);

                // get the total link numbers between source and target node
                const lTotalLinkNum = mLinkNum[d.source.id + "," + d.target.id] || mLinkNum[d.target.id + "," + d.source.id];

                if (lTotalLinkNum > 1) {
                    // if there are multiple links between these two nodes, we need generate different dr for each path
                    dr = dr / (1 + (1 / lTotalLinkNum) * (d.linkindex - 1));
                }
                // generate svg path
                return 'M' + d.source.x + ',' + d.source.y +
                    'A' + dr + ',' + dr + ' 0 0 1,' + d.target.x + ',' + d.target.y +
                    'A' + dr + ',' + dr + ' 0 0 0,' + d.source.x + ',' + d.source.y;
            });

            // Add tooltip to the connection path
            path.append('svg:title').text(d => d.name);

            circle.attr('transform', d => `translate(${d.x},${d.y})`);

            text.attr('transform', d => `translate(${d.x},${d.y})`);
        }

        // sort the links by source, then target
        function sortLinks() {
            data.links.sort((a, b) => {
                if (a.source > b.source) {
                    return 1;
                }
                if (a.source < b.source) {
                    return -1;
                }

                if (a.target > b.target) {
                    return 1;
                }
                if (a.target < b.target) {
                    return -1;
                }

                return 0;
            });
        }

        //any links with duplicate source and target get an incremented 'linknum'
        function setLinkIndexAndNum() {
            let previousValue = null;

            data.links.forEach(value => {
                if (!previousValue ||
                    value.source !== previousValue.source ||
                    value.target !== previousValue.target
                ) {
                    value.linkindex = 1;
                } else {
                    value.linkindex = previousValue.linkindex + 1;
                }

                // save the total number of links between two nodes
                if (mLinkNum[`${value.target},${value.source}`]) {
                    mLinkNum[`${value.target},${value.source}`] = value.linkindex;
                } else {
                    mLinkNum[`${value.source},${value.target}`] = value.linkindex;
                }

                previousValue = value;
            });
        }
    }

    function updateMatrix(data) {

    }
</script>
</body>
</html>